@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400&display=swap");

*{
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1042%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(2%2c 19%2c 35%2c 1)'%3e%3c/rect%3e%3cpath d='M0%2c594.081C109.218%2c588.873%2c198.706%2c506.972%2c276.303%2c429.937C343.202%2c363.523%2c370.182%2c272.686%2c409.87%2c187.181C449.839%2c101.071%2c508.302%2c21.61%2c509.89%2c-73.311C511.619%2c-176.629%2c480.162%2c-279.789%2c419.079%2c-363.134C355.144%2c-450.371%2c263.524%2c-513.969%2c161.218%2c-549.059C55.969%2c-585.159%2c-66.587%2c-614.599%2c-165.5%2c-563.64C-262.641%2c-513.593%2c-267.413%2c-376.275%2c-337.266%2c-292.242C-404.973%2c-210.79%2c-545.48%2c-185.271%2c-566.343%2c-81.428C-587.073%2c21.756%2c-483.508%2c105.202%2c-435.981%2c199.106C-390.718%2c288.537%2c-368.055%2c389.822%2c-293.772%2c457.118C-212.046%2c531.158%2c-110.152%2c599.333%2c0%2c594.081' fill='%23010c17'%3e%3c/path%3e%3cpath d='M1440 1040.824C1531.809 1040.086 1622.437 1013.5889999999999 1697.848 961.219 1771.702 909.9300000000001 1824.374 834.269 1857.691 750.7529999999999 1889.936 669.923 1902.483 581.149 1883.333 496.258 1864.983 414.91499999999996 1804.413 354.4 1753.3980000000001 288.439 1699.212 218.378 1657.645 131.591 1575.561 98.32100000000003 1490.88 63.999000000000024 1395.962 86.07400000000001 1307.155 107.57100000000003 1214.648 129.964 1117.743 154.88799999999998 1053.1390000000001 224.78300000000002 987.706 295.574 952.626 393.674 953.61 490.068 954.533 580.474 1019.5350000000001 652.639 1058.339 734.299 1096.438 814.476 1110.263 909.8 1179.474 965.386 1251.421 1023.169 1347.725 1041.566 1440 1040.824' fill='%23031a2f'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1042'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
}

a {
    text-decoration: none;
}

a:link      { color: #c00 }  
a:visited   { color: #0c0 }  
a:hover     { color: #00c }  
a:active    { color: #ccc }
a:focus     { color: #fd7e14 }

.container {
    max-width: 700px;
    margin: auto;
    padding: 20px;
    text-align: left;
}

h1 {
    color: #fff;
    font-size: 5rem;
    font-weight: 100;
}

ol li {
    font-size: 1.5rem;
    color: #fff;
    font-weight: 300;
}

span {
    font-size: 8rem;
    font-weight: lighter;
}

@media (max-width: 675px) {
    h1 {
        font-size: 3.5rem;
    }
}

@media (max-width: 485px) {
    h1 {
        font-size: 2.5rem;
    }
}

@media (max-width: 355px) {
    h1 {
        font-size: 2rem;
    }
}
