@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400&display=swap");

*{
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='3840' height='2160' preserveAspectRatio='none' viewBox='0 0 3840 2160'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1046%26quot%3b)' fill='none'%3e%3crect width='3840' height='2160' x='0' y='0' fill='rgba(2%2c 19%2c 35%2c 1)'%3e%3c/rect%3e%3cpath d='M0%2c1263.878C231.891%2c1243.619%2c385.216%2c1023.377%2c556.123%2c865.344C699.407%2c732.853%2c833.93%2c595.383%2c914.953%2c417.845C995.96%2c240.342%2c1037.215%2c47.807%2c1017.824%2c-146.341C997.865%2c-346.168%2c925.929%2c-537.066%2c803.665%2c-696.379C676.491%2c-862.09%2c498.155%2c-968.891%2c312.738%2c-1065.088C88.888%2c-1181.224%2c-136.474%2c-1352.221%2c-385.653%2c-1313.414C-640.48%2c-1273.728%2c-855.413%2c-1078.865%2c-994.267%2c-861.537C-1124.646%2c-657.473%2c-1093.711%2c-401.814%2c-1121.762%2c-161.285C-1148.965%2c71.967%2c-1251.297%2c313.305%2c-1156.329%2c528.078C-1061.104%2c743.431%2c-820.943%2c841.884%2c-622.285%2c968.295C-424.538%2c1094.126%2c-233.498%2c1284.277%2c0%2c1263.878' fill='%23010c17'%3e%3c/path%3e%3cpath d='M3840 3816.161C4168.484 3812.4179999999997 4508.482 3807.658 4788.61 3636.066 5071.5740000000005 3462.737 5249.996 3168.718 5388.9259999999995 2867.371 5528.242 2565.186 5686.586 2225.934 5584.776 1909.1390000000001 5484.852 1598.213 5135.709 1459.271 4873.728 1264.269 4666.353 1109.912 4465.573 945.2180000000001 4213.387 888.3610000000001 3970.762 833.6590000000001 3732.636 927.4100000000001 3485.06 951.184 3168.7709999999997 981.557 2763.7070000000003 806.953 2556.114 1047.507 2348.388 1288.2150000000001 2606.924 1663.403 2596.205 1981.169 2587.054 2252.453 2453.017 2505.2110000000002 2497.9120000000003 2772.911 2552.0950000000003 3095.99 2618.754 3456.794 2877.3940000000002 3657.844 3139.437 3861.5389999999998 3508.121 3819.943 3840 3816.161' fill='%23031a2f'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1046'%3e%3crect width='3840' height='2160' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
    background-attachment: fixed;
    background-size: cover;
}

a {
    text-decoration: none;
}

a:link      { color: #c00 }  
a:visited   { color: #0c0 }  
a:hover     { color: #00c }  
a:active    { color: #ccc }
a:focus     { color: #fd7e14 }

.container {
    max-width: 700px;
    margin: auto;
    padding: 20px;
    text-align: left;
}

h1 {
    color: #fff;
    font-size: 5rem;
    font-weight: 100;
}

ol {
    list-style-type: none;
    counter-reset: elementcounter;
    padding-left: 0;
}

.ob:before {
    content: "Day 0" counter(elementcounter) ". ";
    counter-increment: elementcounter;
}

.ib:before {
    content: "Day " counter(elementcounter) ". ";
    counter-increment: elementcounter;
}

ol li {
    font-size: 1.5rem;
    color: #fff;
    font-weight: 300;
}

span {
    font-size: 8rem;
    font-weight: lighter;
}

@media (max-width: 675px) {
    h1 {
        font-size: 3.5rem;
    }
}

@media (max-width: 485px) {
    h1 {
        font-size: 2.5rem;
    }
}

@media (max-width: 355px) {
    h1 {
        font-size: 2rem;
    }
}
