@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400&display=swap");

*{
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    background-color: #121212;;
}

a {
    text-decoration: none;
}

a:link      { color: #c00 }  
a:visited   { color: #0c0 }  
a:hover     { color: #00c }  
a:active    { color: #ccc }
a:focus     { color: #fd7e14 }

.container {
    max-width: 700px;
    margin: auto;
    padding: 20px;
    text-align: left;
}

h1 {
    color: #fff;
    font-size: 5rem;
    font-weight: 100;
}

ol li {
    font-size: 1.5rem;
    color: #fff;
    font-weight: lighter;
}

span {
    font-size: 8rem;
    font-weight: lighter;
}

@media (max-width: 675px) {
    h1 {
        font-size: 3.5rem;
    }
}

@media (max-width: 485px) {
    h1 {
        font-size: 2.5rem;
    }
}

@media (max-width: 355px) {
    h1 {
        font-size: 2rem;
    }
}
