@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

:root {
    --line-border-fill: #3498db;
    --line-border-empty: #e0e0e0;
}

*{
    box-sizing: border-box;
}

body {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='3840' height='2160' preserveAspectRatio='none' viewBox='0 0 3840 2160'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1014%26quot%3b)' fill='none'%3e%3crect width='3840' height='2160' x='0' y='0' fill='%230e2a47'%3e%3c/rect%3e%3cpath d='M401.73238013522064 1851.4775363079477L138.62192981248887 1760.8813429167526 134.28286488706203 2200.845115096448z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M-329.95 1188.05 a610.16 610.16 0 1 0 1220.32 0 a610.16 610.16 0 1 0 -1220.32 0z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M2844.508%2c2312.494C3028.675%2c2313.309%2c3183.211%2c2199.3%2c3286.113%2c2046.56C3406.157%2c1868.375%2c3526.546%2c1645.911%2c3418.83%2c1460.014C3311.259%2c1274.368%2c3059.021%2c1279.957%2c2844.508%2c1284.436C2640.911%2c1288.687%2c2411.588%2c1306.509%2c2310.273%2c1483.158C2209.265%2c1659.272%2c2299.679%2c1872.002%2c2409.625%2c2042.679C2508.642%2c2196.391%2c2661.667%2c2311.684%2c2844.508%2c2312.494' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M29.571%2c850.012C144.069%2c851.503%2c259.246%2c804.277%2c315.036%2c704.279C369.657%2c606.375%2c348.658%2c484.294%2c285.153%2c391.905C229.393%2c310.784%2c128.008%2c288.942%2c29.571%2c288.975C-68.79%2c289.008%2c-171.032%2c310.316%2c-225.711%2c392.079C-286.372%2c482.787%2c-296.432%2c601.695%2c-243.299%2c697.007C-188.878%2c794.63%2c-82.187%2c848.556%2c29.571%2c850.012' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M2661.221933253848 1680.755469117578L2642.173633789275 1953.1588425183404 3060.302843622705 1845.5296050148186z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M2506.7549862303317 2311.1100775003474L2652.6358454584747 1627.9964403425981 2068.7033617316433 1806.5225165182505z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M1335.81 665.6 a562.27 562.27 0 1 0 1124.54 0 a562.27 562.27 0 1 0 -1124.54 0z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M1157.5827865523563 2079.7248196425685L1323.7726460840395 2356.311193035863 1655.5572764081398 1968.7332170416914z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M2781.489%2c176.665C2841.084%2c173.674%2c2880.781%2c120.096%2c2907.03%2c66.51C2929.74%2c20.147%2c2930.323%2c-32.332%2c2906.229%2c-77.991C2880.245%2c-127.231%2c2837.163%2c-171.788%2c2781.489%2c-171.396C2726.292%2c-171.007%2c2687.936%2c-123.716%2c2659.756%2c-76.254C2630.755%2c-27.409%2c2607.402%2c29.128%2c2632.038%2c80.314C2659.59%2c137.557%2c2718.041%2c179.85%2c2781.489%2c176.665' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M1369.2330164779255 1360.6101751249507L1166.4388979407152 803.4379136457616 609.266636461526 1006.2320321829719 812.0607549987363 1563.404293662161z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M833.1489493229893 2094.730171043401L640.5826366164573 1747.3313468642868 215.76755670105229 2209.880228013642z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1014'%3e%3crect width='3840' height='2160' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cstyle%3e %40keyframes float1 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-10px%2c 0)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float1 %7b animation: float1 5s infinite%3b %7d %40keyframes float2 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-5px%2c -5px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float2 %7b animation: float2 4s infinite%3b %7d %40keyframes float3 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(0%2c -10px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float3 %7b animation: float3 6s infinite%3b %7d %3c/style%3e%3c/defs%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Lato', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.container {
    text-align: center;
}

.progress-container {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-bottom: 30px;
    max-width: 100%;
    width: 350px;
}

.progress-container::before {
    content: '';
    background-color: var(--line-border-empty);
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: 4px;
    width: 100%;
    z-index: -1;
}

.progress {
    background-color: var(--line-border-fill);
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: 4px;
    width: 0%;
    z-index: -1;
    transition: .4s ease;;
}

.circle {
    background-color: #fff;
    color: #999;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid var(--line-border-empty);
    transition: .4s ease;
}

.circle.active {
    border-color: var(--line-border-fill);
}

.btn {
    background-color: var(--line-border-fill);
    color: #fff;
    border: 0;
    border-radius: 6px;
    cursor: pointer;
    font-family: inherit;
    padding: 8px 30px;
    margin: 5px;
    font-size: 14px;
}

.btn:active {
    transform: scale(0.98);
}

.btn:focus {
    outline: none;
}

.btn:disabled {
    background-color: var(--line-border-empty);
    cursor: not-allowed;
}
