@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

*{
    box-sizing: border-box;
}

html{
    overflow-x: hidden;
}

body {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='3840' height='2160' preserveAspectRatio='none' viewBox='0 0 3840 2160'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1101%26quot%3b)' fill='none'%3e%3crect width='3840' height='2160' x='0' y='0' fill='url(%23SvgjsLinearGradient1102)'%3e%3c/rect%3e%3cpath d='M 0%2c371 C 153.6%2c481 460.8%2c991.8 768%2c921 C 1075.2%2c850.2 1228.8%2c9.2 1536%2c17 C 1843.2%2c24.8 1996.8%2c911.6 2304%2c960 C 2611.2%2c1008.4 2764.8%2c240 3072%2c259 C 3379.2%2c278 3686.4%2c895.8 3840%2c1055L3840 2160L0 2160z' fill='%23184a7e'%3e%3c/path%3e%3cpath d='M 0%2c1682 C 192%2c1598.6 576%2c1184.6 960%2c1265 C 1344%2c1345.4 1536%2c2048.2 1920%2c2084 C 2304%2c2119.8 2496%2c1506.8 2880%2c1444 C 3264%2c1381.2 3648%2c1704.8 3840%2c1770L3840 2160L0 2160z' fill='%232264ab'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1101'%3e%3crect width='3840' height='2160' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='10.94%25' y1='-19.44%25' x2='89.06%25' y2='119.44%25' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1102'%3e%3cstop stop-color='%230e2a47' offset='0'%3e%3c/stop%3e%3cstop stop-color='%2300459e' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Lato', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    overflow-x: hidden;
}
  
h1 {
    margin: 10px;
    color: #fff;
    font-weight: lighter;
}

.box {
    background-color: #a4508b;
    background-image: linear-gradient(90deg, #a4508b 0%, #5f0a87 99%);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 200px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.3);
    transform: translateX(400%);
    transition: transform 0.4s ease;
}

.box:hover {
    transform: scale(1.1) !important;
    cursor: pointer;
}
  
.box:nth-of-type(even) {
    transform: translateX(-400%);
}
  
.box.show {
    transform: translateX(0);
}
  
.box h2 {
    font-size: 20px;
    font-weight: lighter;
}

/* Media Queries */
@media (max-width: 420px) {
    .box {
        width: 300px;
        height: 150px;
    }
}
