@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

*{
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(90deg, steelblue, purple);
    font-family: 'Lato', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.search {
    position: relative;
    height: 50px;
}

.search .input {
    background-color: #f4f4f4;
    border: 0;
    font-size: 18px;
    padding: 15px;
    height: 50px;
    width: 50px;
    transition: width 0.3s ease;
    border-radius: 5px;
    /* border-top-right-radius: 0; */
    /* border-bottom-right-radius: 0; */
}

.btn {
    background-color: #f4f4f4;
    border: 0;
    font-size: 24px;
    position: absolute;
    top: 0;
    left: 0;
    height: 50px;
    width: 50px;
    transition: transform 0.3s ease;
    border-radius: 5px;
    border: 2px solid #000;
}

.btn:focus, 
input:focus {
    outline: none;
}

.search.active .input {
    width: 300px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border: 2px solid #000;
}

.search.active .btn {
    transform: translateX(298px);
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border: 2px solid #000;
    border-left: none;
}
