@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400&display=swap");

*{
    box-sizing: border-box;
}

body {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='3840' height='2160' preserveAspectRatio='none' viewBox='0 0 3840 2160'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1035%26quot%3b)' fill='none'%3e%3crect width='3840' height='2160' x='0' y='0' fill='url(%23SvgjsLinearGradient1036)'%3e%3c/rect%3e%3cpath d='M3840 0L3240.16 0L3840 698.34z' fill='rgba(255%2c 255%2c 255%2c .1)'%3e%3c/path%3e%3cpath d='M3240.16 0L3840 698.34L3840 1020.45L3109.5699999999997 0z' fill='rgba(255%2c 255%2c 255%2c .075)'%3e%3c/path%3e%3cpath d='M3109.5699999999997 0L3840 1020.45L3840 1331.64L1210.2699999999998 0z' fill='rgba(255%2c 255%2c 255%2c .05)'%3e%3c/path%3e%3cpath d='M1210.27 0L3840 1331.64L3840 1774.64L604.92 0z' fill='rgba(255%2c 255%2c 255%2c .025)'%3e%3c/path%3e%3cpath d='M0 2160L1218.41 2160L0 1534.55z' fill='rgba(0%2c 0%2c 0%2c .1)'%3e%3c/path%3e%3cpath d='M0 1534.55L1218.41 2160L2377.76 2160L0 1106.86z' fill='rgba(0%2c 0%2c 0%2c .075)'%3e%3c/path%3e%3cpath d='M0 1106.86L2377.76 2160L3269.28 2160L0 717.4899999999999z' fill='rgba(0%2c 0%2c 0%2c .05)'%3e%3c/path%3e%3cpath d='M0 717.4899999999998L3269.28 2160L3337.6000000000004 2160L0 301.8099999999998z' fill='rgba(0%2c 0%2c 0%2c .025)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1035'%3e%3crect width='3840' height='2160' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='10.94%25' y1='-19.44%25' x2='89.06%25' y2='119.44%25' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1036'%3e%3cstop stop-color='%230e2a47' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(0%2c 57%2c 131%2c 1)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
    color: #fff;
    font-family: 'Lato', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.container {
    background-color: rgba(0,0,0,0.4);
    padding: 20px 40px;
    border-radius: 5px;
    box-shadow: 1px 2px 4px #222;
}

.container h1 {
    text-align: center;
    margin-bottom: 30px;
    font-weight: 100;
}

.container a {
    text-decoration: none;
    color: lightblue;
}

.btn {
    cursor: pointer;
    display: inline-block;
    width: 100%;
    background: lightblue;
    padding: 15px;
    font-family: inherit;
    font-size: 16px;
    border: 0;
    border-radius: 5px;
}

.btn:focus {
    outline: 0;
}

.btn:active {
    transform: scale(0.98);
}

.text {
    margin-top: 30px;
}

.form-control {
    position: relative;
    margin: 20px 0 40px;
    width: 300px;
}

.form-control input {
    background-color: transparent;
    border: 0;
    border-bottom: 2px rgba(255, 255, 255, 0.3) solid;
    display: block;
    width: 100%;
    padding: 15px;
    font-size: 18px;
    color: #fff;
    transition: 0.4s;
}

.form-control input:focus, 
.form-control input:valid {
    outline: 0;
    border-bottom: 2px lightblue solid;
}

.form-control label {
    position: absolute;
    top: 15px;
    left: 0;
    font-weight: lighter;
}

.form-control label span {
    display: inline-block;
    font-size: 18px;
    min-width: 5px;
    transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.form-control input:focus + label span, 
.form-control input:valid + label span {
    font-size: 14px;
    color: lightblue;
    transform: translateY(-30px);
}
